# Database connection string
POSTGRES_URL
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=032c30798ec40275aa1e4aa5
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
# Added by Payload

ADMIN=konradantonik@gmail.com
PASS=test
NAME=admin

# Email configuration
EMAIL_USER
EMAIL_PASS
EMAIL_HOST
# Optional: Set your email provider's SMTP server
# EMAIL_SMTP_HOST=smtp.your-email-provider.com
# EMAIL_SMTP_PORT=587

# vercel blob storage
BLOB_READ_WRITE_TOKEN
